.topmenu {
    background-image: url(/styling-webpage-challenge/src/images/backgroundimagetop.jpg);
    transform: scaleX(-1);
}

.topbar {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
    transform: scaleX(-1);
}

.contenttop {
    transform: scaleX(-1);
}
.navbar {
    word-spacing: 5px;
    color: black;
}

ul {
    list-style-type: none;
}

.fa {
    color: rgb(245 158 11 );
}

#list1 ul li:before {
    content: '✓';
    color: rgb(245 158 11 );
    font-weight: bold;
    margin-left: -1rem;
    margin-right: 5px;
  }

  .banner {
    background-image: url(/styling-webpage-challenge/src/images/bannerimage.jpg);
    padding-top: 0;
  }

  .banner img {
    width: 50px;
    height: 50px;
  }

  .container img {
    width: 100px;
    height: 100px;
    margin: auto;
    padding-top: 10px;
  }


.buildingcompany {
    background-image: url(/styling-webpage-challenge/src/images/buildingcompany-bg.jpg);

}

body {
    background-image: url(/styling-webpage-challenge/src/images/footer-background.jpg);
}

p {
    font-size: large;
}